<div>
    <div>login: {{user.login}}</div>
    {{ error }}
    <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.login}}">

    <a href="#/main">back to search</a>

    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>stars</th>
                <th>language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy:'stargazers_count'">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>
</div>

