$base-color: #317040;
$color: #317040;
.x-tree-icon { display: none !important; }

.emspeed-grid-item.emspeed-grid-item-selected {
color: #003366;
background-color: #ffffff;
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}

.emspeed-grid-item.emspeed-grid-item-over {
color: white;
background-color: #003366;

}

.emspeed-grid-item.emspeed-grid-item-focused {
    background-color: red;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.emspeed-grid-item {
color: #003366;
background-color: #f5f5f5;
}

.emspeed-tree-view {
color: white;
background-color: #f5f5f5;
}



/*.x-panel, .x-plain {
overflow: visible; 
position: relative;
}

.x-panel {
overflow: visible; 
position: relative;
}

.x-panel-body {
overflow: visible; 
position: relative;
}*/

/*.x-tree-view {
overflow: visible;
}*/

