.x-tree-icon { display: none !important; }

.emspeed-tree-view {
    color: white;
    background-color: $color-background;
}
.emspeed-grid-item {
    color: $color;
    background-color: $color-background;
}
.emspeed-grid-item.emspeed-grid-item-selected {
    color: #ffffff;
    background-color: $color;
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
}
.emspeed-grid-item.emspeed-grid-item-over {
    color: white;
    background-color: $color-light10;
}
.emspeed-grid-item .x-grid-item-focused {
    color: white;
    background-color: $color;
    border-top: 0 solid $color;
    border-bottom: 0 solid $color;
}
.collapsed {
    border-right: 1px solid #cccccc
}
.x-tool {
    top: 0
}