.x-tree-icon { display: none !important; }

.emspeed-tree-view {
    color: $color-white;
    background-color: $color-slb-gray;
}
.emspeed-grid-item {
    color: $color-slb-blue;
    background-color: $color-slb-gray;
    border-top: 0;
    border-bottom: 0;
    border-color: $color-slb-blue;
    outline-color: $color-slb-blue;
}
.emspeed-grid-item.emspeed-grid-item-selected {
    color: $color-white;
    background-color: $color-slb-blue;
    border-top: 0;
    border-bottom: 0;
}
.emspeed-grid-item.emspeed-grid-item-over {
    color: $color-white;
    background-color: $color-emspeed-blue;
    border-top: 0;
    border-bottom: 0;
}
.emspeed-grid-item .x-grid-item-focused {
    color: $color-white;
    background-color: $color-slb-blue;
    border-top: 0;
    border-bottom: 0;
}
.collapsed {
    border-right: 1px solid $color-slb-line;
}

/**:focus {
    outline: 0;
}

.x-tool {
    top: 0
}*/