@model string

<div class="container">
    <div class="row">
        <div class="span10"></div>
        <table>
            <tr>
                <th>col1</th>
                <th>col2</th>
                <th>col3</th>
            </tr>
        </table>
    </div>
</div>