$color: #003366; 
$color-light10: lighten($color, 10%);
$color-light20: lighten($color, 20%);
$color-light30: lighten($color, 30%);
$color-light40: lighten($color, 40%);
$color-light50: lighten($color, 50%);
$color-background: #f5f5f5; 
$color-line: #cccccc;

