.headernonhover {
    background-color: white;
}
.headerhover {
    @include background-gradient(#f5f5f5, bevel, top);
}

.x-docked-top {
  border-bottom-width: 1px !important;
  border-color: $color-slb-gray;
}

.x-toolbar-docked-top {
	border-bottom: 1px solid $color-slb-gray;
}
.x-panel-docked-top {
	border-bottom: 1px solid $color-slb-gray;
}
.x-container-docked-top {
	border-bottom: 1px solid $color-slb-line;
}