	.hover-menu {
		font-size: 17px;
		color: white; 
		text-transform: uppercase;
		text-align: center;
        position: relative;
	}

    .hover-icon {
		background-image: url('emspeed/ContextUpArrow.png');
		background-repeat: no-repeat;
		background-position: center bottom;
	}

    .hover-active {
        text-shadow:    -1px  1px 8px #fff, 
                         1px -1px 8px #fff;
	}

    .hoverMenuBase {
        cursor: pointer;display: block;padding: 3px 5px;color: #4b84c2;text-decoration: none;
    }

    .hoverMenuHover {
        background-color: #4b84c2;
        color: #ffffff;
    }

    .hoverMenuDropMenu {
        border-top:3px solid #6084A8;
    }

