$toolbar-border-color: #e8e8e8;
$images-dir: 'resources/images/';

@import "fontAwesome/font-awesome";
@import '_css-reset';
@import '_emspeed-colors';
@import '_emspeed-common';
@import '_emspeed-init';
@import '_hint';
@import '_mixins';



.emspeed-error-page {
    width: 700px;
    height: 275px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -300px;
    border: 1px solid #960000;
    border-radius: 3px;
}

.emspeed-error-page h3 {
    font-family: verdana;
    color: #ffffff;
    font-size: 15px;
    background-color: #960000;
    padding: 5px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.error-table {
    overflow: auto;
}

.error-table table {
    border-spacing: 0;
    border-collapse: collapse;
    white-space: pre-wrap;
    font-size: 11px;
    color: #4d4d4d;
    margin-top: 12px;
}

.error-table table th {
    text-align: right;
}

.error-table table td,
.error-table table th {
    padding: 4px 6px;
}







.msg {
    font-size: 14px;
}


#msg-div {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 400px;
    margin-left: -200px;
    z-index: 20000;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#msg-div .msg h3 {
    margin: 0 0 8px;
    font-size: 15px;    
    font-weight: bold;

}

#msg-div .msg p {
    margin: 0;
}


