<div class="jumbotron">
    <h1>Applications and solutions built with Ext JS and Sencha Touch</h1>
    <p class="lead">Marc Gusmano - mgusmano@yahoo.com</p>
    <p class="lead">Select one of the applications</p>
    <p>

        <a href="http://emspeed2.azurewebsites.net/SenchaExtJs5MVC4SPATemplate.mp4" class="btn btn-primary btn-lg">Sencha ExtJs 5 ASP.NET MVC4 SPA Template Recording &raquo;</a>
        <br /><br />
        <br /><br />


        <a href="SenchaWorkspace/Build/Production/MjgApp/" class="btn btn-primary btn-lg">Sample Touch Resume &raquo;</a>
        <br /><br />

        <a href="http://emspeed1x.azurewebsites.net/sites/97366/Portal.aspx" class="btn btn-primary btn-lg">EMSPEED with Ext 4.2.2 &raquo;</a>
        <a href="SenchaWorkspace/Build/Production/EMSPEEDExt5/" class="btn btn-primary btn-lg">EMSPEED with Ext 5 &raquo;</a>
        <a href="SenchaWorkspace/Build/Production/EMSPEEDTouch/" class="btn btn-primary btn-lg">EMSPEED Touch 2.3.2&raquo;</a>
        <br /><br />

        <a href="http://emspeed1x.azurewebsites.net/sites/97368/UIFilterTests/testIndexFilter.aspx" class="btn btn-primary btn-lg">Siesta Tests - Filters &raquo;</a>
        <a href="http://emspeed1x.azurewebsites.net/sites/97368/UISortTests/testIndexSort.aspx" class="btn btn-primary btn-lg">Siesta Tests - Sorts &raquo;</a>
<!--
        <a href="http://emspeed1x.azurewebsites.net/sites/97368/UIDashboardTests/testIndexDashboard.aspx" class="btn btn-primary btn-lg">Siesta Tests - Dashboard &raquo;</a>
        <a href="http://emspeed1x.azurewebsites.net/sites/97368/UIReportingTests/testIndexReporting.aspx" class="btn btn-primary btn-lg">Siesta Tests - Reporting &raquo;</a>
-->
        <br /><br />

        <a href="SenchaWorkspace/ExecDashboard/index.html" class="btn btn-primary btn-lg">Executive Dashboard &raquo;</a>
        <a href="http://mjgangular.azurewebsites.net/demo/index.html" class="btn btn-primary btn-lg">AngularJS Dashboard &raquo;</a>
        
    </p>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <a class="btn btn-default" href="http://emspeed2.azurewebsites.net/SenchaWorkspace/Build/Production/EMSPEEDExt5/">EMSPEEDExt5 &raquo;</a>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
    -->
