<!DOCTYPE html>
@model string
<html ng-app>
<head>
    <script src="~/Scripts/angular.js"></script>
    <title>the title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slate.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
